body{
    background-color: #4c4c4c;
    margin: 0px;
}

header{
    background-color: burlywood;
    padding: 20px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 5px;
    /* other way to write this
    margin 0 0 5 0
    margin top right bottom left
    same with padding */
}
main{
    background-color: cadetblue;
    padding: 5px;
    padding-top: 20px;
    padding-bottom: 50px;
    border-width: 5px;
    border-style: dashed;
    border-color: #000000;
    width: 500px;
    margin: 0px auto 0px auto;
    box-sizing: border-box;
}
footer{
    background-color: cornflowerblue;
    padding: 20px;
}