p{
    color: red;
    background-color: green;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 10px;
}
h1{
    color: blue;
}
#first{
    color: yellow;
}

.something{
    background-color: blue;
}
a{
    color: black;
}
[target="_blank"]{
    color: green;
}